.filters {
  background: var(--secondary-color);
  padding: 1rem 8%;
  select {
    width: 10rem;
    border: none;
    border-radius: 1.3rem;
    margin-left: 1rem;
  }

  &__container {
    display: flex;
    .search {
      flex: 1;
      position: relative;
      padding-right: 3rem;
      input {
        width: 100%;
        border: none;
        border-radius: 1.3rem;
        line-height: 2.5rem;
        padding-left: 3rem;
        outline: none;
      }
    }
  }
}
