.list__item {
  background-size: cover;
  background-color: #444444;
  background-position-y: 20%;
  width: 30rem;
  height: 35rem;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  .content {
    position: absolute;
    top: calc(100% - 4rem);
    left: 0;
    padding: 1.5rem;
    background-color: var(--main-color--background);
    h4 {
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 1.5rem;
      height: 2.5rem;
      position: relative;
      overflow: hidden;
      top: -2.525rem;
    }
  }
  &:hover {
    .content {
      top: auto;
      bottom: 0;
    }
    h4 {
      margin-bottom: 0;
      top: -1rem;
    }
  }
}
