.footer {
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;

  &__logo {
    width: 12.5%;
  }

  &__download {
    img {
      margin: 0 0.5rem;
      cursor: pointer;
    }
  }
  p {
    margin: 0.5rem;
    margin-bottom: 2rem;
    color: grey;
  }
}
